<div class="jumbotron header-jumbo">
    <div class="container header">
        <div class="row boxed">
            <div class="col-12 floating-panel">
                <div class="row">
                    <div class="col-3 logo">
                        <img src="../assets/img/site-logo.svg">
                    </div>
                    <div class="col-9 switch-buttons">

                    </div>
                </div>
            </div>

        </div>

    </div>
</div>


<app-search></app-search>
<app-trends></app-trends>